/* styling for the html element */
html {
  height: 100%;
  width: 100%;
}

main {
  margin: 3rem;
}

/* background animation based on https://medium.com/@dovid11564/using-css-animations-to-mimic-the-look-of-a-crt-monitor-3919de3318e2 */
.crt {
  background: linear-gradient(to bottom, #000000 50%, #121212 50%);
  background-size: 100% 10px;  /* thin stripes */
  background-repeat: repeat;  
  color: #00ff00;
  font-family: "Courier New", monospace;
  text-align: left;
  text-shadow: 0 0 1rem #00ff00;
}

@media screen {
  .crt {
    animation: scanlines 1s linear infinite;
  }
}

@keyframes scanlines {
  from { background-position: 0 0; }
  to   { background-position: 0 10px; }
}

td {
    padding: 10px;
    border: 0.1rem solid #00ff00;
    margin: none;
    width: 70rem;
    text-shadow: 0 0 1rem #00ff00;
    box-shadow: 0 0 1rem #00ff00;
  }
  
table {
    border-collapse: collapse;
    display: block;
    margin-bottom: 2rem;
}

.prompt_title {
  font-size: 2rem;
  margin: 0;
}

.date {
  font-weight: bold;
  background-color: #00ff00;
  color: #000000;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: #00ff00;
}

headerBox {

}

entryBox {

}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem auto;
  text-align: center;
}

.nav-row.single {
  display: flex;
  justify-content: center;
}

.nav-row.multi {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-table {
  display: table;
  width: 18rem;
  margin: 0 auto;
}

.nav-table td {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.nav-table .symbol td {
  font-size: 3rem;
  border-bottom: none;
  box-shadow: none;
}

img {
  max-width: 120px;
  height: auto;
}
